# MariaDB Secrets
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=changemetoo

# Grafana Secrets
GF_SECURITY_ADMIN_USER=changeme
GF_SECURITY_ADMIN_PASSWORD=changemetoo
